<a href="https://colab.research.google.com/github/bowserd1/California-Housing-Project/blob/main/Pre_processing_and_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Data Sets/housing_eda.csv')

Reading in my csv from my EDA notebook.

In [ ]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,bedrooms_per_room,occupancy_per_room,occupancy_per_bedroom,housing_tuple,Miles_to_City,Nearest_City,pop_april_1990,Pop_To_Miles_Ratio,coast_min,City_Income
0,2.3859,15.0,3.827160,1.112100,1280.0,2.486989,34.60,-120.12,0.980,0.290581,0.649826,2.236300,"(34.6, -120.12)",113.743686,Los Angeles,3485398.0,30642.562529,11.173906,30925
1,3.7188,17.0,6.013373,1.054217,1504.0,3.813084,38.69,-121.22,0.946,0.175312,0.634101,3.616983,"(38.69, -121.22)",90.780508,San Francisco,723959.0,7974.828676,101.635816,33414
2,4.7750,27.0,6.535604,1.103175,1061.0,2.464602,34.71,-120.45,1.576,0.168795,0.377104,2.234099,"(34.71, -120.45)",133.985533,Los Angeles,3485398.0,26013.241273,30.088456,30925
3,2.4138,16.0,3.350203,0.965432,1255.0,2.089286,32.66,-117.09,1.336,0.288171,0.623630,2.164094,"(32.66, -117.09)",5.467741,San Diego,1110549.0,203109.299308,4.173130,33686
4,3.7500,52.0,4.284404,1.069246,1793.0,1.604790,37.80,-122.41,4.500,0.249567,0.374566,1.500861,"(37.8, -122.41)",1.804140,San Francisco,723959.0,401276.469854,13.749526,33414

In [ ]:
print(df.columns)

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'MedHouseVal', 'bedrooms_per_room',
       'occupancy_per_room', 'occupancy_per_bedroom', 'housing_tuple',
       'Miles_to_City', 'Nearest_City', 'pop_april_1990', 'Pop_To_Miles_Ratio',
       'coast_min', 'City_Income'],
      dtype='object')

In [ ]:
df.drop(['housing_tuple'], axis = 1,inplace = True)

Dropped columns that aren't giving the model information. Housing_tuple was useful to this point but won't provide valuable information to the model.

In [ ]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,bedrooms_per_room,occupancy_per_room,occupancy_per_bedroom,Miles_to_City,Nearest_City,pop_april_1990,Pop_To_Miles_Ratio,coast_min,City_Income
0,2.3859,15.0,3.827160,1.112100,1280.0,2.486989,34.60,-120.12,0.980,0.290581,0.649826,2.236300,113.743686,Los Angeles,3485398.0,30642.562529,11.173906,30925
1,3.7188,17.0,6.013373,1.054217,1504.0,3.813084,38.69,-121.22,0.946,0.175312,0.634101,3.616983,90.780508,San Francisco,723959.0,7974.828676,101.635816,33414
2,4.7750,27.0,6.535604,1.103175,1061.0,2.464602,34.71,-120.45,1.576,0.168795,0.377104,2.234099,133.985533,Los Angeles,3485398.0,26013.241273,30.088456,30925
3,2.4138,16.0,3.350203,0.965432,1255.0,2.089286,32.66,-117.09,1.336,0.288171,0.623630,2.164094,5.467741,San Diego,1110549.0,203109.299308,4.173130,33686
4,3.7500,52.0,4.284404,1.069246,1793.0,1.604790,37.80,-122.41,4.500,0.249567,0.374566,1.500861,1.804140,San Francisco,723959.0,401276.469854,13.749526,33414

In [ ]:
dummy_df=pd.get_dummies(df,drop_first = True)

Here, I got dummy variables for the city that each observation is closest too, dropping the first column as that would duplicate information.

In [ ]:
y = dummy_df['MedHouseVal']
X = dummy_df.drop('MedHouseVal',axis=1)

In [ ]:
print(y.shape,X.shape)

(37137,) (37137, 19)

Now, I separate the data into X and y values, and check the shape of each to make sure they are what I intended them to be.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=16)

In [ ]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(27852, 19) (9285, 19) (27852,) (9285,)

I split the data in training and test sets and again check the shape.

In [ ]:
X.columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'coast_min', 'City_Income',
       'Nearest_City_San Diego', 'Nearest_City_San Francisco',
       'Nearest_City_San Jose'],
      dtype='object')

The next step will be to scale the data. Since it doesn't make sense to scale the dummy variables, i print the columns to copy and paste the other columns into the scaler below.

In [ ]:
scaler = StandardScaler()
X_train[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income','coast_min']] = scaler.fit_transform(X_train[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income','coast_min']])

In [ ]:
X_test[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income','coast_min']] = scaler.transform(X_test[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income','coast_min']])

In [ ]:
X_train.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,bedrooms_per_room,occupancy_per_room,occupancy_per_bedroom,Miles_to_City,pop_april_1990,Pop_To_Miles_Ratio,coast_min,City_Income,Nearest_City_San Diego,Nearest_City_San Francisco,Nearest_City_San Jose
count,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,27852.000000,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,2.785200e+04,27852.000000,27852.000000,27852.000000
mean,1.173523e-17,9.184094e-18,3.061365e-18,-5.102274e-18,-8.673867e-18,0.000000,1.530682e-17,1.275569e-17,-2.040910e-17,4.592047e-18,-4.592047e-18,2.142955e-17,2.040910e-17,6.505400e-18,-2.359802e-17,-3.826706e-17,0.089688,0.245117,0.173345
std,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,1.000018e+00,0.285740,0.430164,0.378552
min,-1.865051e+00,-1.975565e+00,-3.539416e+00,-5.640266e+00,-1.269897e+00,-2.421233,-1.450354e+00,-2.427615e+00,-2.290299e+00,-2.149681e+00,-3.003605e+00,-8.970290e-01,-1.046822e+00,-5.402159e-01,-1.164138e+00,-6.361629e-01,0.000000,0.000000,0.000000
25%,-6.984708e-01,-7.419535e-01,-6.615380e-01,-4.235212e-01,-5.429118e-01,-0.551897,-7.832839e-01,-1.136565e+00,-6.751745e-01,-5.794028e-01,-5.999566e-01,-6.628117e-01,-1.003331e+00,-4.597931e-01,-6.618988e-01,-6.361629e-01,0.000000,0.000000,0.000000
50%,-1.842852e-01,-8.402722e-02,-7.986971e-02,-7.865272e-02,-2.108603e-01,-0.093165,-6.633073e-01,5.595214e-01,-1.518665e-01,-2.477094e-01,-8.257252e-02,-4.154795e-01,-7.583732e-01,-2.638313e-01,-3.931129e-01,-1.846127e-01,0.000000,0.000000,0.000000
75%,4.782353e-01,7.383806e-01,5.694204e-01,2.646940e-01,1.510988e-01,0.402224,1.021164e+00,7.772280e-01,5.012952e-01,2.763892e-01,4.667622e-01,3.735617e-01,1.013589e+00,1.333450e-01,3.371084e-01,-1.352669e-01,0.000000,0.000000,0.000000
max,6.224784e+00,2.136474e+00,1.945427e+01,4.823302e+01,2.609099e+01,49.903251,3.060766e+00,2.534069e+00,1.293715e+01,3.632561e+01,3.945766e+01,7.024629e+00,1.013589e+00,3.803383e+01,8.925561e+00,2.136090e+00,1.000000,1.000000,1.000000

Now, the test and training sets have been scaled, except for the dummy variables and we are ready to move into modeling.

In [ ]:
import os
os.chdir("/content/drive/MyDrive/Colab Data Sets")

# save the modified dataset
X_train.to_csv("X_train.csv", index=False)
y_train.to_csv("y_train.csv", index=False)
X_test.to_csv("X_test.csv", index=False)
y_test.to_csv("y_test.csv", index=False)