<a href="https://colab.research.google.com/github/bowserd1/California-Housing-Project/blob/main/Pre_processing_and_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV

In [4]:
df=pd.read_csv('/content/drive/MyDrive/Colab Data Sets/housing_eda.csv')

Reading in my csv from my EDA notebook.

In [5]:
df.head()

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,bedrooms_per_room,occupancy_per_room,occupancy_per_bedroom,housing_tuple,key,Miles_to_City,Nearest_City,pop_april_1990,Pop_To_Miles_Ratio,City_Income
0,0,2.3859,15.0,3.827160,1.112100,1280.0,2.486989,34.60,-120.12,0.980,0.290581,0.649826,2.236300,"(34.6, -120.12)",1,113.743686,Los Angeles,3485398.0,30642.562529,30925
1,1,3.7188,17.0,6.013373,1.054217,1504.0,3.813084,38.69,-121.22,0.946,0.175312,0.634101,3.616983,"(38.69, -121.22)",1,90.780508,San Francisco,723959.0,7974.828676,33414
2,2,4.7750,27.0,6.535604,1.103175,1061.0,2.464602,34.71,-120.45,1.576,0.168795,0.377104,2.234099,"(34.71, -120.45)",1,133.985533,Los Angeles,3485398.0,26013.241273,30925
3,3,2.4138,16.0,3.350203,0.965432,1255.0,2.089286,32.66,-117.09,1.336,0.288171,0.623630,2.164094,"(32.66, -117.09)",1,5.467741,San Diego,1110549.0,203109.299308,33686
4,4,3.7500,52.0,4.284404,1.069246,1793.0,1.604790,37.80,-122.41,4.500,0.249567,0.374566,1.500861,"(37.8, -122.41)",1,1.804140,San Francisco,723959.0,401276.469854,33414

In [6]:
print(df.columns)

Index(['Unnamed: 0', 'MedInc', 'HouseAge', 'AveRooms', 'AveBedrms',
       'Population', 'AveOccup', 'Latitude', 'Longitude', 'MedHouseVal',
       'bedrooms_per_room', 'occupancy_per_room', 'occupancy_per_bedroom',
       'housing_tuple', 'key', 'Miles_to_City', 'Nearest_City',
       'pop_april_1990', 'Pop_To_Miles_Ratio', 'City_Income'],
      dtype='object')

In [7]:
df.drop(['Unnamed: 0','housing_tuple','key'], axis = 1,inplace = True)

Dropped columns that aren't giving the model information. Housing_tuple was useful to this point but won't provide valuable information to the model.

In [8]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,bedrooms_per_room,occupancy_per_room,occupancy_per_bedroom,Miles_to_City,Nearest_City,pop_april_1990,Pop_To_Miles_Ratio,City_Income
0,2.3859,15.0,3.827160,1.112100,1280.0,2.486989,34.60,-120.12,0.980,0.290581,0.649826,2.236300,113.743686,Los Angeles,3485398.0,30642.562529,30925
1,3.7188,17.0,6.013373,1.054217,1504.0,3.813084,38.69,-121.22,0.946,0.175312,0.634101,3.616983,90.780508,San Francisco,723959.0,7974.828676,33414
2,4.7750,27.0,6.535604,1.103175,1061.0,2.464602,34.71,-120.45,1.576,0.168795,0.377104,2.234099,133.985533,Los Angeles,3485398.0,26013.241273,30925
3,2.4138,16.0,3.350203,0.965432,1255.0,2.089286,32.66,-117.09,1.336,0.288171,0.623630,2.164094,5.467741,San Diego,1110549.0,203109.299308,33686
4,3.7500,52.0,4.284404,1.069246,1793.0,1.604790,37.80,-122.41,4.500,0.249567,0.374566,1.500861,1.804140,San Francisco,723959.0,401276.469854,33414

In [9]:
dummy_df=pd.get_dummies(df,drop_first = True)

Here, I got dummy variables for the city that each observation is closest too, dropping the first column as that would duplicate information.

In [11]:
y = dummy_df['MedHouseVal']
X = dummy_df.drop('MedHouseVal',axis=1)

In [12]:
print(y.shape,X.shape)

(37137,) (37137, 18)

Now, I separate the data into X and y values, and check the shape of each to make sure they are what I intended them to be.

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=16)

In [17]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(27852, 18) (9285, 18) (27852,) (9285,)

I split the data in training and test sets and again check the shape.

In [13]:
X.columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income', 'Nearest_City_San Diego',
       'Nearest_City_San Francisco', 'Nearest_City_San Jose'],
      dtype='object')

The next step will be to scale the data. Since it doesn't make sense to scale the dummy variables, i print the columns to copy and paste the other columns into the scaler below.

In [18]:
scaler = StandardScaler()
X_train[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income']] = scaler.fit_transform(X_train[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income']])

In [22]:
X_test[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income']] = scaler.transform(X_test[['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'bedrooms_per_room', 'occupancy_per_room',
       'occupancy_per_bedroom', 'Miles_to_City', 'pop_april_1990',
       'Pop_To_Miles_Ratio', 'City_Income']])

Now, the test and training sets have been scaled, except for the dummy variables and we are ready to move into modeling.